<div
  class="height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}{% endif %} bg-white rounded-2 p-4">
  <!-- border border-gray-light -->
  <div class="d-flex flex-justify-between flex-items-start mb-2">
      <p class="f3 text-gray text-left mb-0 mt-1">
      I am a senior majoring in Computer Science at <a href="https://umich.edu">University of Michigan, Ann Arbor</a>.<br>
      <br>My research focuses are on Human-Computer Interaction and Computer Vision. Currently, I am a member of CroMa Lab and Fouhey AI Lab. I am also interested in Physics and Astronomy, therefore I am completing a minor in Physics.</br>
      <br><b>Feel free to take a look at my resume!</b></br>
      </p>
  </div>
  <div class="text-gray mb-2 ws-normal">{{ post.date | date: "%b %d, %Y"}}</div>
</div>
